<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="bookDao" name="bookDaoImpl" class="com.albert.dl.dao.impl.BookDaoImpl" scope="singleton">
        <property name="connectionName" value="100"/>
        <property name="dataBaseName" value="mysql"/>
    </bean>
    <bean id="userDao" name="userDaoImpl" class="com.albert.dl.dao.impl.UserDaoImpl" scope="singleton">
        <!--name-->
        <!--        <constructor-arg name="connectionName" value="50"/>-->
        <!--        <constructor-arg name="dataBaseName" value="oracle"/>-->
        <!--index-->
        <constructor-arg index="0" value="50"/>
        <constructor-arg index="1" value="oracle"/>
    </bean>

    <bean id="testService" class="com.albert.dl.service.impl.TestServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="indexService" class="com.albert.dl.service.impl.IndexServiceImpl">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="bookService" class="com.albert.dl.service.impl.BookServiceImpl" autowire="byType"/>

    <bean id="studentDao" class="com.albert.dl.dao.impl.StudentDaoImpl">
        <property name="array">
            <array>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>a</value>
                <value>b</value>
                <value>c</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>aa</value>
                <value>bb</value>
                <value>cc</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="age" value="14"/>
                <entry key="name" value="ben"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="age">22</prop>
                <prop key="name">albert</prop>
            </props>
        </property>
    </bean>
</beans>