<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!--方法1:构造方法实例化bean-->
    <!--spring-context-->
    <!--配置bean-->
    <!--name别名-->
    <!--prototype:非单例,默认:singleton-->
    <bean id="bookDao1" name="bookDaoImpl" class="com.albert.instance.dao.impl.BookDaoImpl" scope="prototype"/>
    <bean id="bookService" class="com.albert.instance.service.impl.BookServiceImpl">
        <!--配置server dao得关系-->
        <!--name表示配置那个具体得属性一-->
        <!--ref表示参照哪一个bean-->
        <property name="bookDao" ref="bookDao1"/>
    </bean>

    <!--方法2:静态工厂实例化bean-->
    <bean id="orderDao" class="com.albert.instance.factory.OrderDaoFactory" factory-method="getOrderDao"/>

    <!--方法3:实例工厂实例化bean-->
    <bean id="userFactory" class="com.albert.instance.factory.UserDaoFactory"/>
    <bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/>

    <!--方法4:FactoryBean-->
    <bean id="studentDao" class="com.albert.instance.factory.StudentDaoFactoryBean"/>
</beans>